<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#!" class="brand-logo" itemprop="name"><span style="color:#fff;">khem</span><span style="color:#d02232;">labs</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#about-us"><%= __({phrase: 'menu_about', locale: lang}) %></a></li>
        <li><a href="#team"><%= __({phrase: 'menu_team', locale: lang}) %></a></li>
        <li><a href="#services"><%= __({phrase: 'menu_services', locale: lang}) %></a></li>
        <li><a href="#clients"><%= __({phrase: 'menu_clients', locale: lang}) %></a></li>
        <li><a href="#expertise"><%= __({phrase: 'menu_technologies', locale: lang}) %></a></li>
        <li><a href="#contact"><%= __({phrase: 'menu_contact', locale: lang}) %></a></li>
      </ul>
      <ul id="slide-out" class="side-nav">
        <li><a href="#about-us"><%= __({phrase: 'menu_about', locale: lang}) %></a></li>
        <li><a href="#team"><%= __({phrase: 'menu_team', locale: lang}) %></a></li>
        <li><a href="#services"><%= __({phrase: 'menu_services', locale: lang}) %></a></li>
        <li><a href="#clients"><%= __({phrase: 'menu_clients', locale: lang}) %></a></li>
        <li><a href="#expertise"><%= __({phrase: 'menu_technologies', locale: lang}) %></a></li>
        <li><a href="#contact"><%= __({phrase: 'menu_contact', locale: lang}) %></a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>

<div class="center">
  <h1 class="brand" style="margin: 0.2em">
    <a itemprop="url" href="http://khemlabs.com" style="display: block;" >
      <img itemprop="logo" src="./img/logo-brand.png" />
    </a>
    <span itemprop="legalName"><strong style="color:#333133;">khem</strong> <strong style="color:#d02232; margin-left:-0.2em;">labs</strong></span>
  </h1>
  <h5 class="header center" style="color:#d02232; margin-top: 0.1em;">
    <%= __({phrase: 'khemlabs_frase', locale: lang}) %>
  </h5>
  <p style="">
    <a itemprop="sameAs" href="https://github.com/khemlabs" target="_blank" style="margin-right:8px;color:#d02232;"><i class="fa fa-github fa-2x"></i></a>
    <a itemprop="sameAs" href="https://twitter.com/khemlabs" target="_blank" style="margin-right:8px;color:#d02232;"><i class="fa fa-twitter fa-2x"></i></a>
    <a itemprop="sameAs" href="https://www.facebook.com/Khem-Labs-454510288034424" target="_blank" style="margin-right:8px;color:#d02232;"><i class="fa fa-facebook fa-2x"></i></a>
    <a itemprop="sameAs" href="https://www.linkedin.com/company/khemlabs" target="_blank" style="margin-right:8px;color:#d02232;"><i class="fa fa-linkedin fa-2x"></i></a>
  </p>
</div>

<div class="hero limit-height-300 valign-wrapper">
  <div class="valign center hero-content">
    <h2>> <span id="console-stdout"></span></h2>
  </div>
</div>

<div id="about-us" class="section white z-depth-1  flow-text" style="margin-top: 25px;">
  <div class="container">
    <div class="row">
      <h2 class="header red-text tex-darken-4"><%= __({phrase: 'menu_about', locale: lang}) %></h2>
      <p itemprop="description"><%= __({phrase: 'description_about', locale: lang}) %></p>
    </div>
  </div>
</div>

<div class="section hero lighten-1 z-depth-2  flow-text" style="margin-top: 25px;">
    <div class="row">
      <div class="column">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-title-black">
              <span><%= __({phrase: 'wwd_apps_title', locale: lang}) %></span>
            </div>
            <div class="card-content">
              <p><%= __({phrase: 'wwd_apps_description', locale: lang}) %></p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-title-black">
              <span><%= __({phrase: 'wwd_customized_title', locale: lang}) %></span>
            </div>
            <div class="card-content">
              <p><%= __({phrase: 'wwd_customized_description', locale: lang}) %></p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="col s12 m4">
          
          <div class="card">
            <div class="card-title-black">
              <span><%= __({phrase: 'wwd_multimedia_title', locale: lang}) %></span>  
            </div>
            <div class="card-content">
              <p><%= __({phrase: 'wwd_multimedia_description', locale: lang}) %></p>
            </div>
          </div>
        </div>        
      </div>
      
    </div>
</div>

<div id="team" class="section grey lighten-1 z-depth-2  flow-text" style="margin-top: 25px;">
  <div class="container">
    <div class="row">
      <h2 class="header red-text tex-darken-4"><%= __({phrase: 'menu_team', locale: lang}) %></h2>
    </div>
    <div class="row">

      <div class="col s12 m4" itemprop="founder" itemscope itemtype="http://schema.org/Person">
        <div  class="center-align">
          <img itemprop="image" src="./img/lucio.png" class="circle img-responsive" width="270" height="270">
        </div>
        <p class="center-align" itemprop="name">
          <a target="_blank" href="https://linkedin.com/in/luciomf"><strong>Lucio Moya</strong></a>
        </p>
        <p class="center-align" itemprop="jobTitle"><em><%= __({phrase: 'description_lmoya', locale: lang}) %></em></p>
      </div>

      <div class="col s12 m4" itemprop="founder" itemscope itemtype="http://schema.org/Person">
        <div  class="center-align">
          <img itemprop="image" src="./img/pablo.png" class="circle img-responsive" width="270" height="270">
        </div>
        <p class="center-align" itemprop="name">
          <a target="_blank" href="https://linkedin.com/in/pgambetta">
            <strong>Pablo Gambetta</strong></p>
          </a>
        <p class="center-align" itemprop="jobTitle"><em><%= __({phrase: 'description_pgambetta', locale: lang}) %></em></p>
      </div>

      <div class="col s12 m4" itemscope itemtype="http://schema.org/Person">
        <div  class="center-align">
          <img src="./img/ainu.png" class="circle img-responsive" width="270" height="270">
        </div>
        <p class="center-align" itemprop="name">
          <a target="_blank" href="https://www.linkedin.com/in/ainu-jorge-chambeaud-helguera-a29a2053">
            <strong>Ainú Chambeaud</strong>
          </a>
        </p>
        <p class="center-align"><em><%= __({phrase: 'description_achambeaud', locale: lang}) %></em></p>
      </div>

    </div>
  </div>
</div>

<div id="services" class="section white z-depth-1  flow-text" style="margin-top: 25px;">
  <div class="container" itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog">
    <div class="row">
      <h2 class="header red-text tex-darken-4"><%= __({phrase: 'menu_services', locale: lang}) %></h2>
    </div>
    <div class="row">

      <div class="col s12 m12 limit-height">
        <div class="card" itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
          <div class="card-image grey darken-3">
            <img itemprop="image" src="./img/services.jpg">
            <span itemprop="name" class="card-title hero-content">
              <%= __({phrase: 'title_rest', locale: lang}) %>
            </span>
          </div>
          <div class="card-content">
            <p itemprop="description"><%= __({phrase: 'description_rest', locale: lang}) %></p>
          </div>
        </div>

        <div class="card">
          <div class="card-image grey darken-3" itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
            <img itemprop="image" src="./img/multimedia.jpg">
            <span itemprop="name" class="card-title hero-content ">
              <%= __({phrase: 'title_canvas', locale: lang}) %>
            </span>
          </div>
          <div class="card-content">
            <p itemprop="description"><%= __({phrase: 'description_canvas', locale: lang}) %></p>
          </div>
        </div>
      </div>

      <div class="col s12 m12">
        <div class="card" itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
          <div class="card-image grey darken-3">
            <img itemprop="image" src="./img/spa.jpg">
            <span itemprop="name" class="card-title hero-content ">
              <%= __({phrase: 'title_singlepage', locale: lang}) %>
            </span>
          </div>
          <div class="card-content">
            <p itemprop="description" lang="en"><%= __({phrase: 'description_singlepage', locale: lang}) %></p>
          </div>
        </div>
        <div class="card" itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
          <div class="card-image grey darken-3">
            <img itemprop="image" src="./img/realtime.jpg">
            <span itemprop="name" class="card-title hero-content"><%= __({phrase: 'title_realtime', locale: lang}) %></span>
          </div>
          <div class="card-content">
            <p itemprop="description"><%= __({phrase: 'description_realtime', locale: lang}) %></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="clients" class="section grey lighten-1 z-depth-2 flow-text" style="margin-top: 25px;">
  <div class="container">
    <div class="row">
      <h2 class="header red-text tex-darken-4"><%= __({phrase: 'menu_clients', locale: lang}) %></h2>
    </div>

    <div class="row">

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image white">
            <img src="./img/clients/educar.jpg" />
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image white">
            <img src="./img/clients/encuentro.jpg" />
          </div>
        </div>
      </div>


      <div class="col s12 m4">
        <div class="card">
          <div class="card-image white">
            <img src="./img/clients/oxigeno.png" />
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image white">
            <img src="./img/clients/logo-ministerio-educacion.png" />
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image white">
            <img src="./img/clients/logo_lepton.jpg" />
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image white">
            <img src="./img/clients/logo-ministerio-salud.png" />
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>

<div id="expertise" class="section white z-depth-1 flow-text" style="margin-top: 25px;">
  <div class="container">
    <div class="row">
      <h2 class="header red-text tex-darken-4"><%= __({phrase: 'menu_technologies', locale: lang}) %></h2>
    </div>
    <div class="row">
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/nodejslogo32x32.png" alt="Contact Person">
        NodeJS
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/html5_32x32.png" alt="Contact Person">
        HTML5
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/css3_32x32.png" alt="Contact Person">
        CSS3
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/JavaScript_32x32.png" alt="Contact Person">
        Javascript
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/AngularJS_32x32.png" alt="Contact Person">
        AngularJS
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/react_32x32.png" alt="Contact Person">
        ReactJS
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/mongodb_32x32.png" alt="Contact Person">
        MongoDB
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/redis_32x32.png" alt="Contact Person">
        Redis
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/php_32x32.png" alt="Contact Person">
        PHP
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/postgresql_32x32.png" alt="Contact Person">
        PostgreSQL
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/python_32x32.png" alt="Contact Person">
        Python
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/amazon_32x32.png" alt="Contact Person">
        Amazon Web Services
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/android_32x32.png" alt="Contact Person">
        Android
      </div>
      <div class="chip margin-bottom-1 margin-left-1">
        <img src="./img/logos/linux_32x32.png" alt="Contact Person">
        GNU/Linux
      </div>
    </div>
  </div>
</div>

<div id="contact" class="section white z-depth-1 flow-text" style="margin-top: 25px;">
  <div class="container">
    <div class="row">
      <h2 class="header red-text tex-darken-4"><%= __({phrase: 'menu_contact', locale: lang}) %></h2>
    </div>
    <div class="row">
      <form class="col s12" id="message-form">
        <div class="row">
          <div class="input-field col s6">
            <input name="first_name" id="first_name" type="text" class="validate" required>
            <label for="first_name"><%= __({phrase: 'name_contact', locale: lang}) %></label>
          </div>
          <div class="input-field col s6">
            <input name="company" id="company" type="text" class="validate" required>
            <label for="company_name"><%= __({phrase: 'company_contact', locale: lang}) %></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate" required>
            <label for="email"><%= __({phrase: 'email_contact', locale: lang}) %></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea name="textbody" id="textbody" class="materialize-textarea" required></textarea>
            <label for="textbody"><%= __({phrase: 'message_contact', locale: lang}) %></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 red-text tex-darken-4">
            <button id="send-btn" class="waves-effect red btn"><i class="material-icons left">comment</i>
              <%= __({phrase: 'send_contact', locale: lang}) %>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>